/* BUTTONS */

.btn{
	font-family: 'Sofia Pro', 'helvetica', sans-serif;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid transparent;
	line-height: 2rem;
	text-transform: uppercase;
	-webkit-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.28);
	box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.28);
}

.btn-primary{
	font-family: 'Sofia Pro', 'helvetica', sans-serif;
	background-color: #fff;
	color: #222;
}